body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #e6b0b0, #96cee0, #8fe69e);
}

header {
    /* background-color: #f0f0f0;*/
    /* background: linear-gradient(to bottom, #e6b0b0, #96cee0); */
    background-color: transparent;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 20px;
    text-align: center;
    position: relative;
}

header h1 {
    margin: 0;
    font-size: 72px;
}


header nav {
    margin-top: 20px;
}


header nav menu {
    list-style-type: none;
    padding: 0;
}


header nav menu li {
    display: inline;
    margin-right: 10px;
}


header nav menu li a {
    text-decoration: none;
    color: #333;
}


header img {
    position: relative; /* Adjust position relative to the parent */
    margin: 0 70px; /* Adjust spacing between images */
}


main {
    margin: 20px;
}


main p {
    margin-bottom: 10px;
}


main form {
    margin-bottom: 20px;
}


main form label {
    display: block;
    margin-bottom: 5px;
}


main form input {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

main form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


main form button:hover {
    background-color: #0056b3;
}

main a {
    text-decoration: none;
    color: #007bff;
}

@media (max-width: 1200px) {
    header img {
        display: none;
    }
}
