body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
}

body {
    background: linear-gradient(to bottom, #8fe69e, #96cee0, #e6b0b0);
    align-items: center;
}
div {
    text-align: center;
}

h1 {
    font-family: "Madimi One", sans-serif;
    color: #009900;
    font-weight: 400;
    margin-top: 20px;
    font-size: 72px;
}

.game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
p.seconds {
    font-size: 48px;
    color: #333;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 200px;
    margin-bottom: 20px;
  }

button {
    padding: 10px 20px;
    background-color: #009900;
    color: #fff;
    border-color: black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    position: flex;
    align-items: center;
    justify-content: center;
}

p.timer {
    align-items: end;
    font-size: 25px;
    font-family: "Madimi One", sans-serif;
}

.timer {
    font-family: "Madimi One", sans-serif;
    font-size: 36px;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #009900;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 200px;
    margin-bottom: 20px;
    margin: 0 auto;
}

.timer span {
    display: inline-block;
    min-width: 40px;
    padding: 5px;
    background-color: #fff;
    color: #009900;
    border-radius: 5px;
    margin: 0 5px;
}

button:hover {
    background-color: #006600;
}
.game-container {
    max-width: 1400px
}

.card {
    width: 120px;
    height: 150px;
    background-color: #9b45e0;
    border: 1px solid #000;
    display: inline;
    margin: 5px;
    text-align: center;
    line-height: 120px;
    color: black;
}

button.card:hover{
    background-color: lightblue;
}

nav {
    text-align: center;
    margin-top: 20px;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #009900;
    font-weight: bold;
}

nav a:hover {
    color: #ff4500;
}


@media (max-width: 1200px) {
    body img {
        display: none;
    }
}

