body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom, #8fe69e, #96cee0, #e6b0b0);
}
/* Centering the heading */
div {
    text-align: center;
}

/* Styling the heading */
h1 {
    font-family: "Madimi One", sans-serif;
    color: #009900;
    font-weight: 400;
    margin-top: 20px;
    font-size: 72px;
}

/* Styling the game container */
.game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #009900;
    color: #fff;
    border-color: black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    position: flex;
}

button:hover {
    background-color: #006600;
}

/* Styling the game cards */
.card {
    width: 120px;
    height: 150px;
    background-color: #9b45e0;
    border: 1px solid #000;
    display: inline-flexbox;
    margin: 5px;
    text-align: center;
    line-height: 120px;
    color: black;
}

button.card:hover{
    background-color: lightblue;
}

/* Styling the navigation */
nav {
    text-align: center;
    margin-top: 20px;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #009900;
    font-weight: bold;
}

nav a:hover {
    color: #ff4500;
}